footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-container{
    padding-bottom: 3%;
    text-align: center;
    margin-bottom: 0;
}
.footer-inner{
    margin-bottom: 25px;
}
.footer-inner a{
    font-size: 20px;
    color: grey;
    text-decoration: none;
    margin: 0 3% 0 3%;
}
.sub{
    margin-right: 60px;
}
