/* header */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.Navbar{
  background: #FFDEF6;
  position: fixed;
  width: 100%;
  top: 0;
}
.Navbar nav{
  position: relative;
  display: flex;
  max-width: calc(70% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
    width: 105px;
    height: 45px;
  
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    align-items: center;
    text-align: center;
  
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #BDABF2;
}
.Navbar .search-icon,
.Navbar .menu-icon{
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 10px;
  text-align: center;
}
.Navbar .menu-icon{
  display: none;
}
.Navbar #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.Navbar .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.Navbar #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: rgb(0, 0, 0);
  background: #FFFDD9;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #3c3c3c;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #FFFDD9;
  border: none;
  outline: none;
  color: #BDABF2;
  font-size: 20px;
  cursor: pointer;
}
.Navbar input[type="checkbox"]{
  display: none;
}

.content .links ul{
  position: absolute;
  background: #BDABF2;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

@media screen and (max-width: 1250px){
  .Navbar nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .Navbar .search-box{
    max-width: calc(100% - 100px);
  }
  .Navbar .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .Navbar .menu-icon{
    display: block;
  }
  .Navbar #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #BDABF2;
    height: 100%;
    width: 100%;
    top: 20%;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .Navbar nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .Navbar .search-box{
    max-width: calc(100% - 70px);
  }
  .Navbar .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .Navbar .search-box input{
    padding-right: 30px;
  }
}

.Post {
  padding: 16px;
  margin-top: 30px;
  height: 2000px;
}

/* body */
:root {
  font-size: 10px;
}

main{
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: 5%;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 30px;
}

.frame-userpage{
  max-width: calc(60% - 5px);
  margin: 0 auto;
  padding: 0 20px;
}

.heading-profile{
  /* box-sizing: border-box; */
  padding: 50px 0;
  content: "";
  display: block;
  clear: both;
}

/* having trouble */
img {
  display: block;
}

.avatar{
  float: left;
  max-width: calc(60% - 5px);
  max-height: calc(60% - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.avatar img{
  min-width: 50%;
  height: 50%;
  border-radius: 50%;
  display: flex;
  
}
/* attention */

.profile-setting,.profile-interact{
  float: left;
  width: calc(66,666% - 20px);
  padding: 5px;
  margin:auto;
}

.profile-setting{
  margin-top: 5%
}

.user-name{
  display: inline-block;
  font-size: 30px;
  font-weight: 350;
}

.btn-editing-profile{
  display: inline-block;
  font: inherit;
  color: inherit;
  border: none;
  cursor: pointer;

  font-size: 15px;
  line-height: 2;
  border: 2px solid #dbdbdb;
  border-radius: 5px;
  padding: 0 25px;
  margin-top: 10%;
}

.btn-editing-profile:focus {
  outline: 5px auto #4d90fe;
}

.profile-interact li{
  display: inline-block;
  font-size: 15px;
  line-height: 1.5;
  margin-right: 40px;
  cursor: pointer;
  
}

.profile-interact span{
  font-weight: bold;
}

.profile-interact li:last-of-type{
  margin-right: 0;
}

.information-user {
  background-color: #c08ea7;
  border: 2px solid #c08ea7;
  border-radius: 10px;
}

.information-user li{
  font-size: large;
  display: block;
  line-height: 1.5;
  text-align: center;
}

.frame-upload{
  font-size: 18px;
  height: 80px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5px;
  padding: auto;
  background-color: #c08ea7;
  border: 2px solid #c08ea7;
  border-radius: 10px;
}

.users-statu{
  margin-top: 14px;
  float: left;
  position: relative;
  bottom: -1px;
  width: calc(100% - 50px);
  height: 40px;
  font-size: 20px;
  line-height: 1.5;
  border: 2px solid #dadada;
  background: #dadada;  
  border-radius: 20px;
  cursor: pointer;
}

.users-statu h5{
  margin-top: 5px;
  font-weight: 300;
  text-align: center;
}

.users-statu:focus {
  outline: 5px auto #4d90fe;
}

.frame-upload button{
  margin-top: 15px;
  position: relative;
  bottom: auto;
  width: 50px;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  background: #3d7be0;
  color: #fafafa;
  border-radius: 20px;
}


.personal-status{
  margin-top: 5px;
}


@media screen and (max-width: 400px) {
  .heading-profile {
      display: flex;
      flex-wrap: wrap;
      padding: 40px 0;
  }

  .avatar,.profile-setting,.profile-interact,
  .information-user,.frame-upload,
  .personal-status{
    float: none;
    width: auto;
  }

  .avatar img{
    width: 80px;
  }

  .profile-setting{
    flex-basis: calc(100% - 105px);
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .user-name{
    font-size: 22px;
  }

  .btn-editing-profile{
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 10px;
  }

  .btn-editing-profile{
    margin-left: 0;
  }

  .btn-editing-profile,.profile-interact{
    flex-basis: 100%;
  }

  .profile-interact ul{
    display: flex;
    text-align: center;
    padding: 12px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }

  .profile-interact li{
    font-size: 14px;
    flex: 1;
    margin: 0;
  }

  .number-count{
    display: block;
  }

  .information-user ul{
    display: flex;
    text-align: center;
    padding: 12px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }

  .personal-status{
    display: flex;
  }

}

@keyframes loader{
  to{
    transform: rotate(360deg);
  }
}

@supports (display: grid){
  .heading-profile{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center;
  }

  .avatar{
    grid-row: 1/-1;
  }

  .profile-setting{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
  }

  .btn-editing-profile,.profile-interact{
    grid-column: 1/-1;
  }

  .profile-setting,.btn-editing-profile,.profile-interact,.information-user{
    margin: 0;  }
}